body {
    padding: 10px;
    text-align: center;
}

td {
    height: 75px;
    width: 75px;
    border: none;
    padding: 0;
    margin: 0;
}

.cols {
    display: flex;
    .col-one {

    }

    .col-two {

    }

    .col-three {

    }
} 

#content {
    text-align: center;
}

#innerDiv {
    margin: auto;
    width: 30%;
    border: 3px solid black;

}

table {
    margin: auto;
    padding-bottom: 20px;
}



.colors-change {
    .grey {
        background-color: grey;
    }

    .blue {
        background-color: blue;
    }

    .violet {
        background-color: violet;
    }

    .green {
        background-color: green;
    }

    .red {
        background-color: red;
    }
}
